<div class="row">
  <div class="large-12">
    <h1>Edit Question</h1>
    
   <%= render partial: "questionform", locals: { question: @question} %>

    <%=  link_to "Back to All Questions", questions_path %>

  </div>
</div>
