

<div class="row">
  <div class="large-12">
    <h1>Questions</h1>
    <table>
      <tr>
        <th>Title</th>
        <th>Creator</th>
        <th>Created on</th>
      </tr>
      <% @questions.order(created_at: :desc).each do |question| %>
        <tr>
          <td><%= link_to(question.title, question_path(question)) %></td>
          <td><%= question.user.email %></td>
          <td><%= question.created_at %></td>
        </tr>
      <% end %>
  </div>
</div>
