/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
.errors {
  font-weight: bolder;
  color: darkred;
}

.flash {
  color: darkblue;
}

.answer {
  background-color: darkgrey;
  margin-top: 5px;
  margin-bottom: 5px;
}

.answer-description, .answer-user {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-right: 5px;
  margin-left: 5px;
}

.question-container {
  background-color: darkgrey;
}

.question-info-container {
  position: relative;
}

.question-details{

}

.question-index-container {
  width: relative;
  background-color: darkgrey;
}

.question-index-header > h1 {
  margin: 10px;
  font-weight: bolder;
  color: darkblue;
  font-size: 300%;
}

.table-item {
  width: 500px;
  overflow: hidden;
}

.question-table {
  position: relative;
  margin-left: 50px;
  margin-right: 50px;
}

.question-table > td {
  width: 150px;
  word-wrap: break-word;
}

.question-title {

}

.question-email {

}

.question-content-header {

}

.question-body-container {

}

.question-body {

}
